<div class="navigation">
  <% if current_user %>
    <%= image_tag "http://github.com/intridea/authbuttons/raw/master/png/#{session[:auth_provider].downcase}_64.png" %>
    Welcome, <%= current_user.name %>!
    <%= link_to "Sign Out", signout_path %>
    <pre><%= session[:auth_info].to_yaml %></pre>
  <% else %>
    Sign in with: 
    <div>
      <% Authentication::AUTH_OPTIONS.each do |auth| %>
        <%= link_to "/auth/#{auth}" do %> 
          <%= image_tag "http://github.com/intridea/authbuttons/raw/master/png/#{auth}_64.png" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
